back/node_modules
back/dist
back/mongo-data
back/public
back/.editorconfig
back/.env
back/.env.example
back/.env.test
back/.gitignore
back/create-dev-env.sh
back/docker-compose.yml
back/globalConfig.json
back/jest-mongodb-config.js

front/node_modules
front/dist
front/.editorconfig
front/.gitignore
